In [1]:
import pymysql
import pymysql.cursors
import csv
from collections import Counter
import pandas as pd
import numpy as np

In [2]:
# Connect to the database
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='abhi1234',
                             db='fintech_2016',
                             port=3306,
                             charset='utf8'
                             )
cursor = connection.cursor()

In [3]:
cursor.execute (" SHOW TABLES   ")

4

In [4]:

print (cursor.fetchall())

(('edtech_0116_0317',), ('edtech_2016',), ('fintech_15',), ('fintech_16',))

In [5]:
tab = "fintech_16"

#### Column Selection

In [6]:
qw1 = ''' SHOW COLUMNS FROM `%s` ''' %(tab)

In [7]:
cursor.execute(qw1)

14

In [8]:
cf1 = cursor.fetchall()

In [9]:
for i in cf1:
    print (i[0])

ID
Title
Content
Snippet
Link
Date
Source
Trend
Segment
Company
Country
Continent
Investment (US$ million)
Investors

### _Functions_

#### Fun: Unique values of a table

In [10]:
def unique (col1):
    col = col1
    list_a = [ ]
    qw = ''' SELECT DISTINCT(`%s`) AS `%s` FROM `%s`  ORDER BY `%s` DESC   ''' %(col,col,tab,col)
    cursor.execute (qw)
    fetcher = cursor.fetchall()
    for one in fetcher:
        tick = one[0]
        tick = tick.split(",")
        for i in range (len(tick)):
            if tick[i] in list_a:
                pass
            else:
                list_a.append(tick[i])
    print ("Total Unique Values: "+str(len(list_a)))
    return list_a

#### Getting Count of unique value

In [11]:
def val_count(u_val):
    list_2 = [ ]
    for a in u_val:
        b = a[0]
        if len(b) > 1:
            b = b.split(",")
        for i in range (len(b)):
            list_2.append(b[i])
    c = Counter( list_2 )
    d = c.items()# It's a list
    f = sorted(d, key=lambda x: x[1], reverse=True)
    for e in f:
        print (e[0]+":"+str(e[1])+":"+format(((float(e[1])/len(list_2))*100),'.1f')+"%")
    return

In [12]:
diff_countries = unique ("Country")

Total Unique Values: 44

In [13]:
diff_segments = unique ("Segment")

Total Unique Values: 9

In [14]:
c_list = ['US','India']
c1_list = {} 
for c in c_list:


    count_dict = {}
    for seg in diff_segments:

        qw10 = ''' SELECT COUNT(*) from `%s` WHERE `Segment` LIKE '%s' AND `Country` like '%s' ''' %(tab,seg,c)
        cursor.execute (qw10)
        fetcher10 = cursor.fetchall()
        count_dict[seg] = fetcher10[0][0]
        print(seg,fetcher10[0][0])
    c1_list[c] = count_dict
    s_c = pd.Series(c1_list, name=c)
dfs = s_c.to_frame( name=None)

Payment Processing 13
Mobile Fintech 0
Marketplace 6
Lending 6
Investment Advisory 6
B2B Fintech Services 7
Analytics and Management 7
Accelerators Incubators and Funds 7
 0
Payment Processing 7
Mobile Fintech 2
Marketplace 0
Lending 6
Investment Advisory 7
B2B Fintech Services 4
Analytics and Management 5
Accelerators Incubators and Funds 7
 0

In [15]:
diff_segments

['Payment Processing',
 'Mobile Fintech',
 'Marketplace',
 'Lending',
 'Investment Advisory',
 'B2B Fintech Services',
 'Analytics and Management',
 'Accelerators Incubators and Funds',
 '']

In [16]:
for seg in diff_segments:
    qw22 = ''' SELECT COUNT(*) from `%s` WHERE `Segment` LIKE '%s'  ''' %(tab,seg)
    cursor.execute (qw22)
    fetcher22 = cursor.fetchall()
#     count_dict[seg] = fetcher10[0][0]
    print(seg,":",fetcher22[0][0])

Payment Processing : 72
Mobile Fintech : 12
Marketplace : 12
Lending : 38
Investment Advisory : 31
B2B Fintech Services : 32
Analytics and Management : 42
Accelerators Incubators and Funds : 68
 : 4

In [17]:
s_c

India    {'': 0, 'B2B Fintech Services': 4, 'Investment...
US       {'': 0, 'B2B Fintech Services': 7, 'Investment...
Name: India, dtype: object

In [18]:
s_c[0]

{'': 0,
 'Accelerators Incubators and Funds': 7,
 'Analytics and Management': 5,
 'B2B Fintech Services': 4,
 'Investment Advisory': 7,
 'Lending': 6,
 'Marketplace': 0,
 'Mobile Fintech': 2,
 'Payment Processing': 7}

In [19]:
dfs

                                                   India
India  {'': 0, 'B2B Fintech Services': 4, 'Investment...
US     {'': 0, 'B2B Fintech Services': 7, 'Investment...

In [20]:
def split_col (x):
    s_x = pd.Series(x, name=dfs.ix[x])
    dfs_s = s_x.to_frame( name=None)

    return

In [21]:
dfs = dfs[apply(lamda d: split_col(d))]

SyntaxError: invalid syntax (<ipython-input-21-e5ec33a36fcc>, line 1)

In [ ]:
count_dict_m = {}
for seg in diff_segments:

    qw12 = ''' SELECT COUNT(*) from `%s` WHERE `Segment` LIKE '%s' AND `Continent` like 'Europe' ''' %(tab,seg)
    cursor.execute (qw12)
    fetcher12 = cursor.fetchall()
    count_dict_m[seg] = fetcher12[0][0]
    print(seg,":",str(fetcher12[0][0]))

In [ ]:
len(count_dict)

In [ ]:
count_dict

In [ ]:
s = pd.Series(count_dict, name='US')

In [ ]:
s

In [ ]:
type(s)

In [ ]:
df = s.to_frame( name=None)

In [ ]:
df

In [ ]:
unique ("Continent")

## Country

In [ ]:
d = unique ("Country") #enters col name, outputs as a list
# always out it in form of a list

In [ ]:
# d

In [ ]:
for conti in d:
    cursor.execute (''' SELECT COUNT(`Title`) FROM `%s` 
    WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31'
    AND `Country` LIKE '%s' ''' %(tab,conti)      )
    numb = cursor.fetchall()
    print (conti,":",numb[0][0])

In [ ]:
cursor.execute (" SELECT `Country`  FROM `%s` WHERE `Date` BETWEEN '2016-10-01' AND '2016-12-31'  "%(tab))

In [ ]:
t2 = cursor.fetchall()

In [ ]:
val_count(t2)

In [ ]:
segs = unique ("Segment")

In [ ]:
segs

In [ ]:
d_us = {}

In [ ]:
def seg_for_count (country,start_date,end_date):
    country_dict = {}
    segments = unique ("Segment")
    for one_seg in segments:
        cursor.execute (''' SELECT *  FROM `%s` WHERE `Date` BETWEEN %s AND %s AND  `Country` LIKE 'US'  ''' %(tab,start_date,end_date))
        cf = cursor.fetchall()
        seg_num = len(cf)
        country_dict[one_seg] = seg_num
    print (country_dict)
    return

In [ ]:
seg_for_count ('US','2016-01-01','2016-12-31')