In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import html5lib
import time

In [2]:
url = "https://www.google.com/finance/historical?q=NSE%3ARELIANCE&ei=xM9VWanaI4bYugTIgqCACQ"

In [3]:
soup = BeautifulSoup(urlopen(url), 'html.parser')

In [4]:
head1 = soup.findAll("title")

In [5]:
head2 = head1[0].text

In [6]:
head3 = head2.split(':', 1 )

In [7]:
head4 = head3[0]

In [8]:
head4

'Reliance Industries Limited'

In [9]:
items  = soup.findAll("table",{"class":"gf-table historical_price"})

In [10]:
table = pd.read_html(url, attrs={"class":"gf-table historical_price"})

In [11]:
taby = table[0]

In [12]:
taby.rename(columns=taby.iloc[0], inplace=True)

In [13]:
taby.drop(taby.index[[0]], inplace=True)

In [14]:
taby['Name'] = head4

In [15]:
taby.head()

,Date,Open,High,Low,Close,Volume,Name
1,"Jul 3, 2017",1388.20,1394.70,1371.00,1384.00,2101886,Reliance Industries Limited
2,"Jun 30, 2017",1392.00,1392.40,1375.05,1383.00,1786211,Reliance Industries Limited
3,"Jun 29, 2017",1400.00,1410.00,1390.10,1392.35,2948322,Reliance Industries Limited
4,"Jun 28, 2017",1439.95,1439.95,1395.55,1399.80,3558538,Reliance Industries Limited
5,"Jun 27, 2017",1432.00,1443.00,1425.00,1439.05,7449878,Reliance Industries Limited

In [16]:
row1 = taby.loc[1, :]

In [17]:
k = row1

In [18]:
k

Date                      Jul 3, 2017
Open                          1388.20
High                          1394.70
Low                           1371.00
Close                         1384.00
Volume                        2101886
Name      Reliance Industries Limited
Name: 1, dtype: object

In [19]:
type(k.values)

numpy.ndarray

In [20]:
df2 = pd.DataFrame(columns=('Name','Date','Open','High','Low','Close','Volume'))

In [21]:
df3 = pd.DataFrame(columns=('Name','Date','Open','High','Low','Close','Volume'))

In [22]:
df2.append(row1, ignore_index=True)

,Name,Date,Open,High,Low,Close,Volume
0,Reliance Industries Limited,"Jul 3, 2017",1388.20,1394.70,1371.00,1384.00,2101886

In [23]:
a_list = []

In [24]:
def appe(array):
    df3 = df3.append(array)
    return

In [25]:
st_list = [
    
    'https://www.google.com/finance/historical?q=NSE%3ARELIANCE&ei=xM9VWanaI4bYugTIgqCACQ',
    'https://www.google.com/finance/historical?q=NSE%3ASBIN&ei=UPFVWdHoDJHpuATXtJHgBg',
    'https://www.google.com/finance/historical?q=NSE%3ABHARTIARTL&ei=zPFVWcmaGYGFuQSy3JpY',
    'https://www.google.com/finance/historical?q=NSE%3AHDFCBANK&ei=7fFVWej0L866uQTel4i4AQ',
    'https://www.google.com/finance/historical?q=NSE%3AICICIBANK&ei=APJVWbGQH5WjuASW_o24Cg',
    'https://www.google.com/finance/historical?q=NSE%3AWELCORP&ei=AyFWWYj5ONfBugTEnofABg'
     
    
    
]

In [26]:
def quotes (url):
    soup7 = BeautifulSoup(urlopen(url), 'html.parser')
    time.sleep(3)
    head17 = soup7.findAll("title")
    head27 = head17[0].text
    head37 = head27.split(':', 1 )
    head47= head37[0]
    print(head47)
    
    table17 = pd.read_html(url, attrs={"class":"gf-table historical_price"})
    taby17 = table17[0]
    taby17.rename(columns=taby17.iloc[0], inplace=True)  
    taby17.drop(taby17.index[[0]], inplace=True)
    taby17['Name'] = head47
    row17 = taby17.loc[1, :]
    print(row17)
    global df3
    df3 = df3.append(row17)
    a_list.append(row17.values)
    return

In [27]:
for st in st_list:
    quotes(st)

Reliance Industries Limited
Date                      Jul 3, 2017
Open                          1388.20
High                          1394.70
Low                           1371.00
Close                         1384.00
Volume                        2101886
Name      Reliance Industries Limited
Name: 1, dtype: object
State Bank of India
Date              Jul 3, 2017
Open                   274.10
High                   275.50
Low                    272.55
Close                  275.30
Volume                8951033
Name      State Bank of India
Name: 1, dtype: object
Bharti Airtel Limited
Date                Jul 3, 2017
Open                     381.45
High                     384.15
Low                      376.80
Close                    381.60
Volume                  1521063
Name      Bharti Airtel Limited
Name: 1, dtype: object
HDFC Bank Limited
Date            Jul 3, 2017
Open                1652.60
High                1667.50
Low                 1647.25
Close               1660.00
Volume               876083
Name      HDFC Bank Limited
Name: 1, dtype: object
ICICI Bank Ltd
Date         Jul 3, 2017
Open              291.40
High              292.25
Low               288.75
Close             290.00
Volume           6106230
Name      ICICI Bank Ltd
Name: 1, dtype: object
Welspun Corp Ltd
Date           Jul 3, 2017
Open                105.00
High                107.40
Low                 104.25
Close               106.85
Volume              760167
Name      Welspun Corp Ltd
Name: 1, dtype: object

In [28]:
df3 = df3.reset_index(drop=True)

In [29]:
df3

,Name,Date,Open,High,Low,Close,Volume
0,Reliance Industries Limited,"Jul 3, 2017",1388.20,1394.70,1371.00,1384.00,2101886
1,State Bank of India,"Jul 3, 2017",274.10,275.50,272.55,275.30,8951033
2,Bharti Airtel Limited,"Jul 3, 2017",381.45,384.15,376.80,381.60,1521063
3,HDFC Bank Limited,"Jul 3, 2017",1652.60,1667.50,1647.25,1660.00,876083
4,ICICI Bank Ltd,"Jul 3, 2017",291.40,292.25,288.75,290.00,6106230
5,Welspun Corp Ltd,"Jul 3, 2017",105.00,107.40,104.25,106.85,760167

In [30]:
# df3.to_csv('rohan.csv')